/build/wixToolset/unpacked/sdk/inc/aclutil.h
/build/compose/tmp/main/runtime/legal/java.base/ADDITIONAL_LICENSE_INFO
/build/compose/tmp/main/runtime/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
/build/compose/tmp/main/runtime/legal/java.desktop/ADDITIONAL_LICENSE_INFO
/build/compose/tmp/main/runtime/legal/java.logging/ADDITIONAL_LICENSE_INFO
/build/compose/tmp/main/runtime/legal/java.prefs/ADDITIONAL_LICENSE_INFO
/build/compose/tmp/main/runtime/legal/java.xml/ADDITIONAL_LICENSE_INFO
/build/compose/tmp/main/runtime/legal/jdk.crypto.ec/ADDITIONAL_LICENSE_INFO
/build/compose/tmp/main/runtime/legal/java.base/aes.md
/build/resources/main/Android_Robot.png
/build/compose/tmp/main/runtime/bin/api-ms-win-core-console-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-console-l1-2-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-datetime-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-debug-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-errorhandling-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-file-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-file-l1-2-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-file-l2-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-handle-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-heap-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-interlocked-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-libraryloader-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-localization-l1-2-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-memory-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-namedpipe-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-processenvironment-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-processthreads-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-processthreads-l1-1-1.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-profile-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-string-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-synch-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-synch-l1-2-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-sysinfo-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-timezone-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-core-util-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-conio-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-convert-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-environment-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-filesystem-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-heap-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-locale-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-math-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-multibyte-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-private-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-process-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-runtime-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-stdio-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-string-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-time-l1-1-0.dll
/build/compose/tmp/main/runtime/bin/api-ms-win-crt-utility-l1-1-0.dll
/build/wixToolset/unpacked/sdk/inc/apputil.h
/build/wixToolset/unpacked/sdk/inc/apuputil.h
/build/compose/tmp/main/runtime/legal/java.base/asm.md
/build/compose/tmp/main/runtime/legal/java.base/ASSEMBLY_EXCEPTION
/build/compose/tmp/main/runtime/legal/java.datatransfer/ASSEMBLY_EXCEPTION
/build/compose/tmp/main/runtime/legal/java.desktop/ASSEMBLY_EXCEPTION
/build/compose/tmp/main/runtime/legal/java.logging/ASSEMBLY_EXCEPTION
/build/compose/tmp/main/runtime/legal/java.prefs/ASSEMBLY_EXCEPTION
/build/compose/tmp/main/runtime/legal/java.xml/ASSEMBLY_EXCEPTION
/build/compose/tmp/main/runtime/legal/jdk.crypto.ec/ASSEMBLY_EXCEPTION
/build/wixToolset/unpacked/sdk/inc/atomutil.h
/build/compose/tmp/main/runtime/bin/awt.dll
/build/wixToolset/unpacked/doc/bal.xsd
/build/wixToolset/unpacked/sdk/inc/BalBaseBootstrapperApplication.h
/build/wixToolset/unpacked/sdk/inc/balcondition.h
/build/wixToolset/unpacked/sdk/inc/balinfo.h
/build/wixToolset/unpacked/sdk/inc/balretry.h
/build/wixToolset/unpacked/sdk/inc/balutil.h
/build/wixToolset/unpacked/sdk/vs2010/lib/x86/balutil.lib
/build/wixToolset/unpacked/sdk/vs2012/lib/x86/balutil.lib
/build/wixToolset/unpacked/sdk/vs2013/lib/x86/balutil.lib
/build/wixToolset/unpacked/sdk/vs2015/lib/x86/balutil.lib
/build/wixToolset/unpacked/sdk/vs2017/lib/x86/balutil.lib
/build/compose/tmp/main/runtime/legal/java.xml/bcel.md
/build/compose/tmp/main/runtime/lib/security/blacklisted.certs
/build/wixToolset/unpacked/sdk/BootstrapperCore.config
/build/wixToolset/unpacked/sdk/BootstrapperCore.dll
/build/wixToolset/unpacked/sdk/BootstrapperCore.xml
/build/wixToolset/unpacked/sdk/inc/buffutil.h
/build/kotlin/compileKotlin/build-history.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build/wixToolset/unpacked/x86/burn.exe
/build/wixToolset/unpacked/sdk/inc/butil.h
/build/compose/tmp/main/runtime/legal/java.base/c-libutl.md
/build/wixToolset/unpacked/sdk/inc/cabcutil.h
/build/wixToolset/unpacked/sdk/inc/cabutil.h
/build/compose/tmp/main/runtime/lib/security/cacerts
/.gradle/buildOutputCleanup/cache.properties
/build/wixToolset/unpacked/candle.exe
/build/wixToolset/unpacked/candle.exe.config
/build/wixToolset/unpacked/sdk/inc/certutil.h
/.gradle/checksums/checksums.lock
/build/compose/tmp/main/runtime/lib/classlist
/build/compose/tmp/main/runtime/legal/java.base/cldr.md
/build/compose/tmp/main/runtime/legal/java.desktop/colorimaging.md
/build/wixToolset/unpacked/doc/complus.xsd
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-1$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-2$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-3$1$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-3$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-4$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-5$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-6$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-7$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-8$1$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-8$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-9$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-10$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-11$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt$lambda-12$1.class
/build/classes/kotlin/main/ComposableSingletons$MainKt.class
/build/classes/kotlin/main/META-INF/ComposeLayouts.kotlin_module
/build/kotlin/ComposeLayouts10jar-classes.txt
/build/libs/ComposeLayouts-1.0.jar
/build/wixToolset/unpacked/sdk/inc/conutil.h
/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
/build/compose/tmp/createRuntimeImage.args.txt
/build/wixToolset/unpacked/sdk/inc/cryputil.h
/build/wixToolset/unpacked/sdk/inc/custommsierrors.h
/build/wixToolset/unpacked/darice.cub
/build/wixToolset/unpacked/dark.exe
/build/wixToolset/unpacked/dark.exe.config
/build/compose/tmp/main/runtime/lib/security/default.policy
/build/compose/tmp/main/runtime/conf/security/policy/limited/default_local.policy
/build/compose/tmp/main/runtime/conf/security/policy/unlimited/default_local.policy
/build/compose/tmp/main/runtime/conf/security/policy/limited/default_US_export.policy
/build/compose/tmp/main/runtime/conf/security/policy/unlimited/default_US_export.policy
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/build/wixToolset/unpacked/doc/Dependency.xsd
/build/wixToolset/unpacked/sdk/inc/deputil.h
/build/wixToolset/unpacked/sdk/vs2010/lib/x64/deputil.lib
/build/wixToolset/unpacked/sdk/vs2010/lib/x86/deputil.lib
/build/wixToolset/unpacked/sdk/vs2012/lib/x64/deputil.lib
/build/wixToolset/unpacked/sdk/vs2012/lib/x86/deputil.lib
/build/wixToolset/unpacked/sdk/vs2013/lib/x64/deputil.lib
/build/wixToolset/unpacked/sdk/vs2013/lib/x86/deputil.lib
/build/wixToolset/unpacked/sdk/vs2015/lib/x64/deputil.lib
/build/wixToolset/unpacked/sdk/vs2015/lib/x86/deputil.lib
/build/wixToolset/unpacked/sdk/vs2017/lib/x64/deputil.lib
/build/wixToolset/unpacked/sdk/vs2017/lib/x86/deputil.lib
/build/wixToolset/unpacked/sdk/inc/dictutil.h
/build/wixToolset/unpacked/doc/difxapp.xsd
/build/wixToolset/unpacked/difxapp_x64.wixlib
/build/wixToolset/unpacked/difxapp_x86.wixlib
/build/wixToolset/unpacked/sdk/inc/dirutil.h
/build/wixToolset/unpacked/sdk/inc/dlutil.h
/build/wixToolset/unpacked/sdk/DocCompiler.exe
/build/compose/tmp/main/runtime/legal/java.xml/dom.md
/build/wixToolset/unpacked/doc/DTF.chm
/build/wixToolset/unpacked/doc/DTFAPI.chm
/build/wixToolset/unpacked/sdk/inc/dutil.h
/build/wixToolset/unpacked/sdk/vs2010/lib/x64/dutil.lib
/build/wixToolset/unpacked/sdk/vs2010/lib/x86/dutil.lib
/build/wixToolset/unpacked/sdk/vs2012/lib/x64/dutil.lib
/build/wixToolset/unpacked/sdk/vs2012/lib/x86/dutil.lib
/build/wixToolset/unpacked/sdk/vs2013/lib/x64/dutil.lib
/build/wixToolset/unpacked/sdk/vs2013/lib/x86/dutil.lib
/build/wixToolset/unpacked/sdk/vs2015/lib/x64/dutil.lib
/build/wixToolset/unpacked/sdk/vs2015/lib/x86/dutil.lib
/build/wixToolset/unpacked/sdk/vs2017/lib/x64/dutil.lib
/build/wixToolset/unpacked/sdk/vs2017/lib/x86/dutil.lib
/build/wixToolset/unpacked/sdk/inc/eseutil.h
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.1/executionHistory/executionHistory.lock
/build/compose/tmp/main/runtime/conf/security/policy/limited/exempt_local.policy
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/.gradle/7.1/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.lock
/build/wixToolset/unpacked/sdk/inc/fileutil.h
/build/wixToolset/unpacked/doc/firewall.xsd
/build/compose/tmp/main/runtime/lib/fontconfig.bfc
/build/compose/tmp/main/runtime/lib/fontconfig.properties.src
/build/compose/tmp/main/runtime/bin/fontmanager.dll
/build/compose/tmp/main/runtime/bin/freetype.dll
/build/compose/tmp/main/runtime/legal/java.desktop/freetype.md
/build/wixToolset/unpacked/doc/gaming.xsd
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/gc.properties
/.gradle/vcs-1/gc.properties
/build/wixToolset/unpacked/sdk/inc/gdiputil.h
/build/compose/tmp/main/runtime/legal/java.desktop/giflib.md
/build/compose/tmp/main/runtime/bin/harfbuzz.dll
/build/compose/tmp/main/runtime/legal/java.desktop/harfbuzz.md
/build/wixToolset/unpacked/heat.exe
/build/wixToolset/unpacked/heat.exe.config
/build/wixToolset/unpacked/doc/http.xsd
/build/wixToolset/unpacked/sdk/inc/IBootstrapperApplication.h
/build/wixToolset/unpacked/sdk/inc/IBootstrapperBAFunction.h
/build/wixToolset/unpacked/sdk/inc/IBootstrapperEngine.h
/build/compose/default-icons/1.0.0-alpha3/icon-windows.ico
/build/compose/default-icons/1.0.0-beta5/icon-windows.ico
/build/compose/tmp/main/runtime/legal/java.base/icu.md
/build/compose/tmp/skiko/icudtl.dat
/build/compose/tmp/skiko/icudtl.dat.sha256
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/build/wixToolset/unpacked/doc/iis.xsd
/build/wixToolset/unpacked/sdk/inc/iis7util.h
/build/wixToolset/unpacked/sdk/inc/inetutil.h
/build/wixToolset/unpacked/sdk/inc/iniutil.h
/build/wixToolset/unpacked/insignia.exe
/build/wixToolset/unpacked/insignia.exe.config
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/build/compose/tmp/main/runtime/bin/java.dll
/build/compose/tmp/main/runtime/conf/security/java.policy
/build/compose/tmp/main/runtime/conf/security/java.security
/build/compose/tmp/main/runtime/bin/javajpeg.dll
/build/compose/tmp/main/runtime/bin/jawt.dll
/build/compose/tmp/main/runtime/lib/jawt.lib
/build/compose/tmp/main/runtime/legal/java.xml/jcup.md
/build/compose/tmp/main/runtime/bin/jimage.dll
/build/compose/tmp/main/runtime/bin/jli.dll
/build/compose/logs/packageMsi/jpackage-2021-11-02-15-11-45-err.txt
/build/compose/logs/packageMsi/jpackage-2021-11-02-15-11-45-out.txt
/build/compose/tmp/main/runtime/legal/java.desktop/jpeg.md
/build/compose/tmp/main/runtime/lib/jrt-fs.jar
/build/wixToolset/unpacked/sdk/inc/jsonutil.h
/build/compose/tmp/main/runtime/bin/jsound.dll
/build/compose/tmp/main/runtime/lib/jvm.cfg
/build/compose/tmp/main/runtime/bin/server/jvm.dll
/build/compose/tmp/main/runtime/lib/jvm.lib
/.gradle/7.1/fileChanges/last-build.bin
/build/kotlin/compileKotlin/last-build.bin
/build/compose/tmp/main/runtime/bin/lcms.dll
/build/compose/tmp/main/runtime/legal/java.desktop/lcms.md
/build/compose/tmp/main/runtime/legal/java.desktop/libpng.md
/build/compose/tmp/main/runtime/legal/java.base/LICENSE
/build/compose/tmp/main/runtime/legal/java.datatransfer/LICENSE
/build/compose/tmp/main/runtime/legal/java.desktop/LICENSE
/build/compose/tmp/main/runtime/legal/java.logging/LICENSE
/build/compose/tmp/main/runtime/legal/java.prefs/LICENSE
/build/compose/tmp/main/runtime/legal/java.xml/LICENSE
/build/compose/tmp/main/runtime/legal/jdk.crypto.ec/LICENSE
/build/wixToolset/unpacked/LICENSE.TXT
/build/wixToolset/unpacked/light.exe
/build/wixToolset/unpacked/light.exe.config
/build/wixToolset/unpacked/lit.exe
/build/wixToolset/unpacked/lit.exe.config
/build/wixToolset/unpacked/sdk/inc/locutil.h
/build/compose/tmp/main/runtime/conf/logging.properties
/build/wixToolset/unpacked/sdk/inc/logutil.h
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
/build/wixToolset/unpacked/lux.exe
/build/wixToolset/unpacked/lux.exe.config
/build/wixToolset/unpacked/lux.targets
/build/wixToolset/unpacked/doc/lux.xsd
/build/wixToolset/unpacked/LuxTasks.dll
/build/classes/kotlin/main/MainKt$App$1.class
/build/classes/kotlin/main/MainKt$bodyContent$2.class
/build/classes/kotlin/main/MainKt$imageListItem$2.class
/build/classes/kotlin/main/MainKt$layoutCodeLab$1.class
/build/classes/kotlin/main/MainKt$listItems$1.class
/build/classes/kotlin/main/MainKt$listItems$2.class
/build/classes/kotlin/main/MainKt$photographerCard$2.class
/build/classes/kotlin/main/MainKt$photographerCardPreview$1.class
/build/classes/kotlin/main/MainKt$ScrollBox$2.class
/build/classes/kotlin/main/MainKt$simpleVerticalScrollbar$1.class
/build/classes/kotlin/main/MainKt.class
/build/wixToolset/unpacked/sdk/MakeSfxCA.exe
/build/wixToolset/unpacked/sdk/MakeSfxCA.exe.config
/build/tmp/jar/MANIFEST.MF
/.gradle/checksums/md5-checksums.bin
/build/wixToolset/unpacked/melt.exe
/build/wixToolset/unpacked/melt.exe.config
/build/wixToolset/unpacked/sdk/inc/memutil.h
/build/wixToolset/unpacked/mergemod.cub
/build/wixToolset/unpacked/mergemod.dll
/build/compose/tmp/main/runtime/legal/java.desktop/mesa3d.md
/build/wixToolset/unpacked/sdk/inc/metautil.h
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.Compression.Cab.dll
/build/wixToolset/unpacked/Microsoft.Deployment.Compression.Cab.dll
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.Compression.Cab.xml
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.Compression.dll
/build/wixToolset/unpacked/Microsoft.Deployment.Compression.dll
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.Compression.xml
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.Compression.Zip.dll
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.Compression.Zip.xml
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.Resources.dll
/build/wixToolset/unpacked/Microsoft.Deployment.Resources.dll
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.Resources.xml
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.WindowsInstaller.dll
/build/wixToolset/unpacked/Microsoft.Deployment.WindowsInstaller.dll
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.WindowsInstaller.Linq.dll
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.WindowsInstaller.Linq.xml
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.WindowsInstaller.Package.dll
/build/wixToolset/unpacked/Microsoft.Deployment.WindowsInstaller.Package.dll
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.WindowsInstaller.Package.xml
/build/wixToolset/unpacked/sdk/Microsoft.Deployment.WindowsInstaller.xml
/build/compose/tmp/main/runtime/bin/mlib_image.dll
/build/compose/tmp/main/runtime/lib/modules
/build/wixToolset/unpacked/sdk/MsgGen.exe
/build/wixToolset/unpacked/doc/msmq.xsd
/build/wixToolset/unpacked/mspatchc.dll
/build/compose/tmp/main/runtime/bin/msvcp140.dll
/build/compose/tmp/main/runtime/bin/net.dll
/build/compose/tmp/main/runtime/conf/net.properties
/build/wixToolset/unpacked/doc/netfx.xsd
/build/compose/tmp/main/runtime/bin/nio.dll
/build/wixToolset/unpacked/nit.exe
/build/wixToolset/unpacked/nit.exe.config
/build/wixToolset/unpacked/sdk/inc/osutil.h
/.gradle/buildOutputCleanup/outputFiles.bin
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/build/compose/tmp/packageMsi.args.txt
/build/wixToolset/unpacked/sdk/inc/pathutil.h
/build/wixToolset/unpacked/sdk/inc/perfutil.h
/build/wixToolset/unpacked/sdk/inc/polcutil.h
/build/compose/tmp/main/runtime/bin/prefs.dll
/build/compose/tmp/checkRuntime/out-classes/PrintJavaRuntimeVersion.class
/build/compose/tmp/checkRuntime/java/PrintJavaRuntimeVersion.java
/build/wixToolset/unpacked/sdk/inc/procutil.h
/build/compose/tmp/main/runtime-properties/properties.bin
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/build/wixToolset/unpacked/doc/ps.xsd
/build/compose/tmp/main/runtime/lib/psfont.properties.ja
/build/compose/tmp/main/runtime/lib/psfontj2d.properties
/build/compose/tmp/main/runtime/legal/java.base/public_suffix.md
/build/compose/tmp/main/runtime/lib/security/public_suffix_list.dat
/build/wixToolset/unpacked/pyro.exe
/build/wixToolset/unpacked/pyro.exe.config
/build/compose/tmp/main/runtime/conf/security/policy/README.txt
/build/wixToolset/unpacked/sdk/inc/regutil.h
/build/compose/tmp/main/runtime/release
/build/wixToolset/unpacked/sdk/inc/resrutil.h
/build/wixToolset/unpacked/sdk/inc/reswutil.h
/build/wixToolset/unpacked/retina.exe
/build/wixToolset/unpacked/retina.exe.config
/build/wixToolset/unpacked/sdk/inc/rexutil.h
/build/wixToolset/unpacked/sdk/inc/rmutil.h
/build/wixToolset/unpacked/sdk/inc/rssutil.h
/build/wixToolset/unpacked/sdk/inc/sceutil.h
/build/wixToolset/unpacked/sdk/x64/sfxca.dll
/build/wixToolset/unpacked/sdk/x86/sfxca.dll
/.gradle/checksums/sha1-checksums.bin
/build/wixToolset/unpacked/sdk/inc/shelutil.h
/build/wixToolset/unpacked/shine.exe
/build/wixToolset/unpacked/shine.exe.config
/build/compose/tmp/skiko/skiko-jvm-runtime-windows-x64-0.5.9.jar
/build/compose/tmp/skiko/skiko-windows-x64.dll
/build/compose/tmp/skiko/skiko-windows-x64.dll.sha256
/build/wixToolset/unpacked/smoke.exe
/build/wixToolset/unpacked/smoke.exe.config
/build/compose/tmp/main/runtime/conf/sound.properties
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/build/compose/tmp/main/runtime/bin/splashscreen.dll
/build/wixToolset/unpacked/doc/sql.xsd
/build/wixToolset/unpacked/sdk/inc/sqlutil.h
/build/wixToolset/unpacked/sdk/inc/srputil.h
/build/wixToolset/unpacked/sdk/inc/strutil.h
/build/wixToolset/unpacked/sdk/inc/svcutil.h
/build/wixToolset/unpacked/doc/tag.xsd
/build/wixToolset/unpacked/sdk/inc/thmutil.h
/build/wixToolset/unpacked/doc/thmutil.xsd
/build/wixToolset/unpacked/ThmViewer.exe
/build/wixToolset/unpacked/sdk/inc/timeutil.h
/build/wixToolset/unpacked/torch.exe
/build/wixToolset/unpacked/torch.exe.config
/build/compose/tmp/main/runtime/lib/tzdb.dat
/build/compose/tmp/main/runtime/lib/tzmappings
/build/compose/tmp/main/runtime/bin/ucrtbase.dll
/build/compose/tmp/main/runtime/legal/java.base/unicode.md
/build/wixToolset/unpacked/sdk/inc/uriutil.h
/build/wixToolset/unpacked/sdk/inc/userutil.h
/build/wixToolset/unpacked/doc/util.xsd
/build/compose/tmp/main/runtime/bin/vcruntime140.dll
/build/compose/tmp/main/runtime/bin/vcruntime140_1.dll
/build/compose/tmp/main/runtime/bin/verify.dll
/build/wixToolset/unpacked/doc/vs.xsd
/build/wixToolset/unpacked/sdk/inc/wcalog.h
/build/wixToolset/unpacked/sdk/inc/wcautil.h
/build/wixToolset/unpacked/sdk/vs2010/lib/x64/wcautil.lib
/build/wixToolset/unpacked/sdk/vs2010/lib/x86/wcautil.lib
/build/wixToolset/unpacked/sdk/vs2012/lib/x64/wcautil.lib
/build/wixToolset/unpacked/sdk/vs2012/lib/x86/wcautil.lib
/build/wixToolset/unpacked/sdk/vs2013/lib/x64/wcautil.lib
/build/wixToolset/unpacked/sdk/vs2013/lib/x86/wcautil.lib
/build/wixToolset/unpacked/sdk/vs2015/lib/x64/wcautil.lib
/build/wixToolset/unpacked/sdk/vs2015/lib/x86/wcautil.lib
/build/wixToolset/unpacked/sdk/vs2017/lib/x64/wcautil.lib
/build/wixToolset/unpacked/sdk/vs2017/lib/x86/wcautil.lib
/build/wixToolset/unpacked/sdk/inc/wcawow64.h
/build/wixToolset/unpacked/sdk/inc/wcawrapquery.h
/build/wixToolset/unpacked/wconsole.dll
/build/wixToolset/unpacked/winterop.dll
/build/wixToolset/unpacked/sdk/inc/wiutil.h
/build/wixToolset/unpacked/sdk/wix.ca.targets
/build/wixToolset/unpacked/doc/WiX.chm
/build/wixToolset/unpacked/wix.dll
/build/wixToolset/unpacked/sdk/wix.nativeca.targets
/build/wixToolset/unpacked/wix.targets
/build/wixToolset/unpacked/doc/wix.xsd
/build/wixToolset/unpacked/wix200x.targets
/build/wixToolset/wix311.zip
/build/wixToolset/unpacked/wix2010.targets
/build/wixToolset/unpacked/WixBalExtension.dll
/build/wixToolset/unpacked/WixComPlusExtension.dll
/build/wixToolset/unpacked/WixCop.exe
/build/wixToolset/unpacked/WixDependencyExtension.dll
/build/wixToolset/unpacked/WixDifxAppExtension.dll
/build/wixToolset/unpacked/WixDirectXExtension.dll
/build/wixToolset/unpacked/WixFirewallExtension.dll
/build/wixToolset/unpacked/WixGamingExtension.dll
/build/wixToolset/unpacked/WixHttpExtension.dll
/build/wixToolset/unpacked/WixIIsExtension.dll
/build/wixToolset/unpacked/doc/wixloc.xsd
/build/wixToolset/unpacked/WixLuxExtension.dll
/build/wixToolset/unpacked/WixMsmqExtension.dll
/build/wixToolset/unpacked/WixNetFxExtension.dll
/build/wixToolset/unpacked/WixPSExtension.dll
/build/wixToolset/unpacked/WixSqlExtension.dll
/build/wixToolset/unpacked/WixTagExtension.dll
/build/wixToolset/unpacked/WixTasks.dll
/build/wixToolset/unpacked/WixUIExtension.dll
/build/wixToolset/unpacked/WixUtilExtension.dll
/build/wixToolset/unpacked/WixVSExtension.dll
/build/wixToolset/unpacked/WixVSExtension.MSBuild12.dll
/build/wixToolset/unpacked/WixVSExtension.MSBuild14.dll
/build/wixToolset/unpacked/sdk/inc/wuautil.h
/build/compose/tmp/main/runtime/legal/java.xml/xalan.md
/build/compose/tmp/main/runtime/legal/java.xml/xerces.md
/build/wixToolset/unpacked/sdk/inc/xmlutil.h
/build/wixToolset/unpacked/sdk/XsdGen.exe
/build/wixToolset/unpacked/sdk/XsdStitch.exe
/build/compose/tmp/main/runtime/bin/zip.dll
/build/compose/tmp/main/runtime/legal/java.base/zlib.md
